{% extends "blog/base.html" %}
{% block content %}
    <h1>
        Makers BootCamp
    </h1>


<div>
<ul>
    <li> Первый IT-Hub в Кыргызстане</li>
    <li> Мы обучаем IT и digital профессиям.</li>
    <li> Разрабатываем сайты и приложения.</li>
    <li>Запускаем и помогаем запускать стартапы.</li>
    <li> Организовываем IT мероприятия.</li>
</ul>
</div>
{% endblock content %}

<div class="footer-section">
    <h2 class="footer-section-title">Our links:</h2>
    <ul role="list" class="w-list-unstyled">
        <li><a href="https://facebook.com/Makers-Bootcamp-561894737582204/" target="_blank" class="footer-section-link">Facebook</a></li>
        <li><a href="https://www.instagram.com/makerskg" target="_blank" class="footer-section-link">Instagram</a></li>
        <li><a href="https://vk.com/makerskg" target="_blank" class="footer-section-link">Vkontakte</a></li>
        <li><a href="https://t.me/makerskg" target="_blank" class="footer-section-link">Telegram</a></li>
    </ul>
</div>